// color variables

// common colors
$black: #000000;
$white: #ffffff;

// brand colors
$blue-color: #1877f2;
$pink-color: #f86bc2;
$green-color: #50e3c2;
$dark-color: #030026;
$yellow-color: #ff9529;

// secondary colors
$purple-color: #685eef;
$magenta-color: #ac4ed5;
$gray-color: #81a0b4;

// fade colors
$fade-blue-color: #87b6f8;
$fade-pink-color: #f8a3da;
$fade-purple-color: #5047c4;
$fade-green-color: #e5fbf6;
$fade-magenta-color: #d27cf8;

//input border
$input-border-color: #87b6f8;
